{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
</head>
<body>

    <header class="section">

        <div style="text-align: center">

            <nav class="clearfix">

                <ul>
                    <li><a href="../../feed/">Home</a></li>
                    <li><a href="../../message/">Messaging</a></li>
                    <li><a href="../../profile/">Profile</a></li>
                    <li><a href="#">Sips+</a></li>
                </ul>

            </nav>

        </div>

    </header>

    <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset Password">
    </form>

</body>
</html>
