{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Feed</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 900px)">
    <link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 400px)">
	<link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 300px)">
	<link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 200px)">
	<link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 100px)">
	<link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 50px)">
	<link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 25px)">

    {% if user_themes %}
    	{% for theme in user_themes %}
            {% if theme == selected_theme %}
            	<link rel="stylesheet" href="{% static ''|add:theme %}.css">
            {% endif %}
    	{% endfor %}
    {% endif %}
</head>
<body>

    <div class="header">
		<div class="section-inner">
		   <h1>Sips Feed</h1>
		</div>
	</div>

    <div class="nav">

		<div class="section-inner">

			<nav class="clearfix">

                <ul>

                    <li><a href="{% url 'feed' %}">Feed</a></li>
                    <li><a href="{% url 'message' %}">Messaging</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'marketplace' %}">Marketplace</a></li>

                </ul>

            </nav>

		</div>

	</div>

    <div class="feed-container">

        <a href="{% url 'create_post' %}">Create a post</a>

        {% for post in posts %}

            <div class="post-container">
                <div class="post">
                    <a href="post/{{ post.postid }}" id="{{ post.postid }}">{{ post.title }} by {{ post.userid.handle }}</a>
                </div>
            </div>

        {% endfor %}

    </div>

</body>
</html>