{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 900px)">
    <link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 400px)">
    <link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 300px)">
    <link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 200px)">
    <link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 100px)">
    <link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 50px)">
    <link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 25px)">
    <title>Marketplace</title>

    {% if user_themes %}
    	{% for theme in user_themes %}
            {% if theme == selected_theme %}
            	<link rel="stylesheet" href="{% static ''|add:theme %}.css">
            {% endif %}
    	{% endfor %}
    {% endif %}
</head>
<body>

    <div class="header">
        <div class="section-inner">
            <h1>Buy More Tea</h1>
        </div>
    </div>

    <h4>Points: {{ points }}</h4>

    {% if messages %}
    	<ul class="messages">
            {% for message in messages %}
            	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="nav">

        <div class="section-inner">

            <nav class="clearfix">

                <ul>

                    <li><a href="{% url 'feed' %}">Feed</a></li>
                    <li><a href="{% url 'message' %}">Messaging</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'marketplace' %}">Marketplace</a></li>

                </ul>

            </nav>

        </div>

    </div>

    <div id="themes">

        <div class="container">

            <div class="row">

                {% for theme in themes %}

                    <div class="col-md-4">

                        <form class="marketplace-item" method="get" action="#">

                            <div class="marketplace-item-title">{{ theme.description }}</div>
                            <div class="marketplace-item-price">{{ theme.cost }} points</div>
                            <input type="submit" class="marketplace-item-button" value="Redeem" name="{{ theme.itemname }}">

                        </form>

                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

    <div id="avatars">

        <div class="container">

            <div class="row">

                {% for avatar in avatars %}

                    <div class="col-md-4">

                        <form class="marketplace-item">

                            <div class="marketplace-item-image"><img src="{% static forloop.counter %}.jpg" alt="image {{ forloop.counter }}"></div>
                            <div class="marketplace-item-title">Avatar</div>
                            <div class="marketplace-item-description">{{ avatar.description }}</div>
                            <div class="marketplace-item-price">{{ avatar.cost }} points</div>
                            <input type="submit" class="marketplace-item-button" value="Redeem" name="{{ avatar.itemname }}">

                        </form>

                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

</body>
</html>
