{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
    <title>Messaging</title>

    {% if user_themes %}
    	{% for theme in user_themes %}
            {% if theme == selected_theme %}
            	<link rel="stylesheet" href="{% static ''|add:theme %}.css">
            {% endif %}
    	{% endfor %}
    {% endif %}
</head>
<body>
    <div class="nav">

        <div class="section-inner">

            <nav class="clearfix">

                <ul>

                    <li><a href="{% url 'feed' %}">Feed</a></li>
                    <li><a href="{% url 'message' %}">Messaging</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'marketplace' %}">Marketplace</a></li>

                </ul>

            </nav>

        </div>

    </div>

    <div class="container">

        <div class="message">Welcome to the messaging page!</div>
        
        <div id="messages">
            {% for sender, message in recent_messages.items %}
            	<div class="message">
                    <a href="../messaging/{{ sender.userid }}">{{ sender.handle }}</a>: {{ message }}
                </div>
            {% empty %}
                <form action="#" method="post">{% csrf_token %}
                    <h2>No messages yet!</h2>
                    <p>Message someone:</p>
                    <label>Handle: <input type="text" name="handle"></label>
                    <br>
                    <label>Message: <input type="text" name="content"></label>
                    <input type="submit" value="Send">
                </form>

            {% endfor %}
        </div>

    </div>

</body>
</html>

