{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}" media="screen and (max-width: 900px)">

    {% if user_themes %}
    	{% for theme in user_themes %}
            {% if theme == selected_theme %}
            	<link rel="stylesheet" href="{% static ''|add:theme %}.css">
            {% endif %}
    	{% endfor %}
    {% endif %}
</head>
<body>

    <div class="nav">

        <div class="section-inner">

            <nav class="clearfix">

                <ul>

                    <li><a href="{% url 'feed' %}">Feed</a></li>
                    <li><a href="{% url 'message' %}">Messaging</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'marketplace' %}">Marketplace</a></li>

                </ul>

            </nav>

        </div>

    </div>

    <div class="container">

        <h1>Messages from @{{ sender.handle }}</h1>

        {% for message in messages %}
        	<div class="message user-message">
                {% if message.senderid == sender %}
                	<strong>@{{ sender.handle }}</strong> {{ message.content }}
                {% else %}
                    <strong>@{{ request.user.handle }}</strong> {{ message.content }}
                {% endif %}
            </div>
        {% endfor %}

        <div class="input-container">

            <form action="#" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send Message">
            </form>

        </div>

    </div>

</body>
</html>